barry{
  color: rgba(45, 120, 110, 0.9);
  font-style: italic;
}
button{
  background-color: red;
}

other{
  color: inherit;
  background-color: red;
  display: block;
  font-size: 23px;
  font: sans-serif;
  
}
